<header class="app-header">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <a href="/" class="app-header__logo">
        <img alt="Rabo logo" width="140px" src="https://media.rabobank.com/m/5c0d2c496819b02f/original/Rabobank-text-logo.png" />
      </a>
    </span>
    <span> Customer Statement Processor </span>
    <span class="app-header__spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>

<router-outlet />
