<div class="app-layout">
  <h2>{{ uploadLabel }}:</h2>

  <div class="error" *ngIf="error">{{ error }}</div>
  <div draggable="true" class="app-layout__dragdroparea" ngClass="{{ dragAreaClass }}">
    Drag & Drop to Upload File or
    <button type="button" mat-raised-button (click)="fileInput.click()">{{ uploadButton }}</button>
    <input hidden (change)="onFileSelected($event)" [multiple]="false" #fileInput type="file" id="file" accept=".xml,.csv" />
  </div>

  <app-skeleton *ngIf="isDataLoading"></app-skeleton>
  <app-report *ngIf="!isDataLoading"></app-report>
</div>
