/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Myriad;
  src: url('rabo.woff2');
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e3e3e3;
  }

  100% {
    background-color: #f0f3f5;
  }
}

.skeleton-text {
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}
